In [ ]:
# pandas

In [2]:
# series object

import pandas as pd
s1=pd.Series([1,2,3,4,5])
type(s1), s1

(pandas.core.series.Series,
 0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64)

In [8]:
# changing index

pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
# series object from dictionary

d1={"a":10, "b":20, "c":30}
pd.Series(d1)

a    10
b    20
c    30
dtype: int64

In [9]:
# changing index position

pd.Series(d1,index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [14]:
# extracting elements

s1[3] , s1[-3:], s1[:4]

(4,
 b    2
 c    3
 d    4
 dtype: int64,
 a    1
 b    2
 c    3
 d    4
 dtype: int64)

In [15]:
# basic math operations

s2=pd.Series([1,2,3,4,5])
s2+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [20]:
s3=pd.Series([10,20,30,40,50])
(s2+5)+s3

0    16
1    27
2    38
3    49
4    60
dtype: int64

In [25]:
# creating Dataframe

df=pd.DataFrame({"name":['ana','kay','zako'],"marks":[65,98,54]})
df , type(df)

(   name  marks
 0   ana     65
 1   kay     98
 2  zako     54,
 pandas.core.frame.DataFrame)

In [28]:
rnd_survey=pd.read_csv('C:\Users\Titir\Downloads\research-and-development-survey-2022.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3874778478.py, line 1)